<!DOCTYPE html>
<html>
{% extends "navbar.html" %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block body %}

<body>
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-md-15">
                <div class="card bg-dark text-white">
                    <div class="card-body text-center">
                        <h2 class="card-title">{{title}}</h2>
                        <h5 class="card-subtitle mb-2 text-muted">Posted by: <a href="/user/{{user_id}}">{{author}}</a></h5>
                        <p class="card-text">
                            {{text}}
                        </p>
                        <!-- <button id="like-post-button">
                            Like this post ♥︎ (Not implemented yet)
                        </button> -->
                        <div class="button-group">
                            <div>
                                <a class="btn btn-outline-success" type="button" href="#" onclick="togglePostComment(event)">Comment</a>
                            </div>
                        {% if user_id == session['userID'] %}
                            <div>
                                <a class="btn btn-outline-info" type="button" href="#" onclick="togglePostEdit(event)">Edit Post</a>
                            </div>
                            <div>
                                <form action="/delete_post" method="POST">
                                    <input type="hidden" name="user_id" value="{{ user_id }}">
                                    <input type="hidden" name="post_id" value="{{ post_id }}">
                                    <button class="btn btn-outline-danger" type="submit">Delete Post</button>
                                </form>
                            </div>
                        {% endif %}   
                        </div>                   
                    </div>
                    <div class="card-footer text-muted" style="display: flex; justify-content: space-between;">
                        <small style="text-align: left;">This post has {{likes}} likes and {{comments|length}} comment(s)</small>
                        <small style="text-align: right;">last modified: {{date}}</small>
                    </div>
                    <h5 class="text-center">Comments:</h5>
                    <div>
                        {% if comments %}
                            {% for comment in comments|sort(attribute='4')|reverse %}
                            <div class="card bg-dark text-white mb-3">
                                <div class="card-body text-center">
                                        <div class="card-text">
                                            {{ comment[0][2] }}
                                        </div>
                                        <small class="text-center">Posted by: <a href="/user/{{comment[0][1]}}">{{ comment[-1] }}</a> </small>
                                        <p class="card-text"><small class="text-muted">at: {{ comment[0][3] }}</small></p>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <p class="text-white text-center">Be the first to comment!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <div class="comment-post-form-wrapper">
                    <form action="/comment" method="post" class="comment-post-form bg-dark text-white">
                        <h5 class="text-center text-white">Leave a comment:</h5>
                        <input type="hidden" name="user_id" value="{{ user_id }}">
                        <input type="hidden" name="post_id" value="{{ post_id }}">
                        <div class="form-group">
                            <textarea class="form-control text-white bg-dark" name="comment_text" rows="3" placeholder="What are your thoughts?"></textarea>
                        </div>
                        <div class="button-group button">
                            <button type="submit" class="btn btn-outline-success">Post Comment</button>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>
    <div class="edit-post-form-wrapper">
        <form action="/edit_post" method="post" class="edit-post-form bg-dark text-white">
            <h5 class="text-center text-white">Editing: "{{title}}"</h5>
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="hidden" name="post_id" value="{{ post_id }}">
            <div class="form-group">
                <input type="text" class="form-control text-white bg-dark" name="title" placeholder="Title!" value="{{title}}">
            </div>
            <div class="form-group">
                <textarea class="form-control text-white bg-dark" name="text" rows="8" placeholder="Text goes here...">{{text}}</textarea>
            </div>
            <div class="button-group button">
                <button type="submit" class="btn btn-outline-success">Save Changes</button>
                <button type="button" class="btn btn-outline-danger" onclick="togglePostEdit(event)">Discard Changes</button>
            </div>
        </form>
    </div>   
</body>

{% endblock %}

</html>